<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       https://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd"
>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/yapdb"/>
        <property name="username" value="root"/>
        <property name="password" value="1712wonwoo"/>
    </bean>

    <bean id="searchingService" class="com.yapyap.postserviceproject.Service.SearchingService">
        <property name="parserMap" ref="parserMap"/>
    </bean>




    <bean id="cjParser" class="com.yapyap.postserviceproject.Service.parser.CjParser">
        <property name="documentGetter" ref="documentGetter"/>
    </bean>

    <bean id="documentGetter" class="com.yapyap.postserviceproject.Service.documentGetter.ApiDocumentGetter">
    </bean>

    <util:map id="parserMap" key-type="com.yapyap.postserviceproject.Carrier">
        <entry key="CJ" value-ref="cjParser"/>
    </util:map>


    <task:annotation-driven/>
</beans>
